apiVersion: v1
data:
  config.yaml: |
    branch-protection:
      protect-tested-repos: true
    github:
      LinkURL: null
    in_repo_config:
      enabled:
        camunda-community-hub/camunda-cloud-go-client: true
        salaboy/cd-flow: true
        salaboy/cd-flow-backend: true
        salaboy/cd-flow-ui: true
        salaboy/fmtok8s-agenda-rest: true
        salaboy/fmtok8s-api-gateway: true
        salaboy/fmtok8s-app: true
        salaboy/fmtok8s-app-sso: true
        salaboy/fmtok8s-c4p-rest: true
        salaboy/fmtok8s-email-rest: true
        salaboy/new-jx3-cluster: true
        zeebe-io/zeebe-cluster-helm: true
        zeebe-io/zeebe-full-helm: true
        zeebe-io/zeebe-operate-helm: true
        zeebe-io/zeebe-operator: true
        zeebe-io/zeebe-tasklist-helm: true
        zeebe-io/zeebe-zeeqs-helm: true
    plank: {}
    pod_namespace: jx
    prowjob_namespace: jx
    push_gateway:
      serve_metrics: false
    tide:
      context_options:
        from-branch-protection: true
        required-if-present-contexts: null
        skip-unknown-contexts: false
      merge_method:
        camunda-community-hub/camunda-cloud-go-client: merge
        salaboy/cd-flow: merge
        salaboy/cd-flow-backend: merge
        salaboy/cd-flow-ui: merge
        salaboy/fmtok8s-agenda-rest: merge
        salaboy/fmtok8s-api-gateway: merge
        salaboy/fmtok8s-app: merge
        salaboy/fmtok8s-app-sso: merge
        salaboy/fmtok8s-c4p-rest: merge
        salaboy/fmtok8s-email-rest: merge
        salaboy/new-jx3-cluster: merge
        zeebe-io/zeebe-cluster-helm: merge
        zeebe-io/zeebe-full-helm: merge
        zeebe-io/zeebe-operate-helm: merge
        zeebe-io/zeebe-operator: merge
        zeebe-io/zeebe-tasklist-helm: merge
        zeebe-io/zeebe-zeeqs-helm: merge
      queries:
      - labels:
        - approved
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - salaboy/new-jx3-cluster
        - camunda-community-hub/camunda-cloud-go-client
        - salaboy/cd-flow-backend
        - salaboy/cd-flow-ui
        - salaboy/cd-flow
        - salaboy/fmtok8s-agenda-rest
        - salaboy/fmtok8s-api-gateway
        - salaboy/fmtok8s-app-sso
        - salaboy/fmtok8s-app
        - salaboy/fmtok8s-c4p-rest
        - salaboy/fmtok8s-email-rest
        - zeebe-io/zeebe-cluster-helm
        - zeebe-io/zeebe-full-helm
        - zeebe-io/zeebe-operate-helm
        - zeebe-io/zeebe-operator
        - zeebe-io/zeebe-tasklist-helm
        - zeebe-io/zeebe-zeeqs-helm
      - labels:
        - updatebot
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - salaboy/new-jx3-cluster
        - camunda-community-hub/camunda-cloud-go-client
        - salaboy/cd-flow-backend
        - salaboy/cd-flow-ui
        - salaboy/cd-flow
        - salaboy/fmtok8s-agenda-rest
        - salaboy/fmtok8s-api-gateway
        - salaboy/fmtok8s-app-sso
        - salaboy/fmtok8s-app
        - salaboy/fmtok8s-c4p-rest
        - salaboy/fmtok8s-email-rest
        - zeebe-io/zeebe-cluster-helm
        - zeebe-io/zeebe-full-helm
        - zeebe-io/zeebe-operate-helm
        - zeebe-io/zeebe-operator
        - zeebe-io/zeebe-tasklist-helm
        - zeebe-io/zeebe-zeeqs-helm
      target_url: http://dashboard-jx.34.67.22.199.nip.io
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: config
  namespace: jx
  labels:
    gitops.jenkins-x.io/pipeline: 'namespaces'
