apiVersion: v1
data:
  config.yaml: |
    branch-protection:
      protect-tested-repos: true
    github:
      LinkURL: null
    in_repo_config:
      enabled:
        salaboy/cd-flow: true
        salaboy/cd-flow-backend: true
        salaboy/cd-flow-ui: true
        salaboy/new-jx3-cluster: true
        zeebe-io/zeebe-operator: true
    plank: {}
    pod_namespace: jx
    prowjob_namespace: jx
    push_gateway:
      serve_metrics: false
    tide:
      context_options:
        from-branch-protection: true
        required-if-present-contexts: null
        skip-unknown-contexts: false
      merge_method:
        salaboy/cd-flow: merge
        salaboy/cd-flow-backend: merge
        salaboy/cd-flow-ui: merge
        salaboy/new-jx3-cluster: merge
        zeebe-io/zeebe-operator: merge
      queries:
      - labels:
        - approved
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - salaboy/new-jx3-cluster
        - salaboy/cd-flow-backend
        - salaboy/cd-flow-ui
        - salaboy/cd-flow
        - zeebe-io/zeebe-operator
      - labels:
        - updatebot
        missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/work-in-progress
        - needs-ok-to-test
        - needs-rebase
        repos:
        - salaboy/new-jx3-cluster
        - salaboy/cd-flow-backend
        - salaboy/cd-flow-ui
        - salaboy/cd-flow
        - zeebe-io/zeebe-operator
      target_url: http://dashboard-jx.34.67.22.199.nip.io
kind: ConfigMap
metadata:
  creationTimestamp: null
  name: config
  namespace: jx
  labels:
    gitops.jenkins-x.io/pipeline: 'namespaces'
