apiVersion: gitops.jenkins-x.io/v1alpha1
kind: SourceConfig
metadata:
  creationTimestamp: null
spec:
  groups:
  - owner: zeebe-io
    provider: https://github.com
    providerKind: github
    repositories:
    - name: zeebe-cluster-helm
    - name: zeebe-full-helm
    - name: zeebe-operate-helm
    - name: zeebe-operator
    - name: zeebe-tasklist-helm
    - name: zeebe-zeeqs-helm
    scheduler: in-repo
  - owner: salaboy
    provider: https://github.com
    providerKind: github
    repositories:
    - name: cd-flow
    - name: cd-flow-backend
    - name: cd-flow-ui
    - name: fmtok8s-api-gateway
    scheduler: in-repo
